@import url(https://fonts.googleapis.com/css?family=Nunito);

* {
    font-family: Nunito;
}

h1 {
    font-size: 2em;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #b4eeb6;
}

body nav {
    background-color: #228B22;
}

body section a {
    color: #006400  ;
    /*display: inline-block;*/
}

nav {
    position: sticky;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 60px;
    box-sizing: border-box;
    width: 100%; /* Set a flexible width */
    background-color: #3a71c1; /* Add a background color for visibility */
    top: 0;
    z-index: 1;
}

nav a.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s;
    padding: 0px 0px;
    margin: 16px 0px;
    font-size: 40px; /* Adjusted font size for better proportion */
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-end;
}

nav ul li {
    margin: 0px 0px 0px 40px;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    padding: 10px 20px;
    display: block;
    line-height: 1.5;
}

a:hover {
    color: #888888 !important;
}

.small-button {
    font-size: 1em;
    border-width: 1px;
    border-radius: 16px;
    background-color: white;
    border-style: solid;
    display: inline-block;
    box-sizing: border-box;
    white-space: nowrap;
    cursor: pointer;
}

.other-button {
    color: #2a5c99;
    border-color: #2a5c99;
}

a button:hover {
    color: #888888 !important;
    border-color: #888888 !important;
    border-style: solid;
}

.button-anchor {
    display: inline-block;
    justify-content: center;
    width: 45%;
    text-align: center;
}

section {
    margin: 2% 8%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

figure {
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}

figcaption {
    text-align: center;
    display: block;
    font-size: 12px;
}

ul.horizontal {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-block: 0;
}

ul.horizontal li {
    margin-right: 30px;
}

div.info {
    display: flex;
    align-items: center;
}

div.info > * {
    margin-right: 15px;
}

.quote {
    background-color: #a3d9a4;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.quote-author {
    text-align: right;
}

.row {
    display: flex;
    align-items: center;
}

.row > * {
    display: inline-block;
}

.row > div + p, .row > p + div {
    margin-left: 16px;
}

.row p {
    flex: 2;
}

.row div {
    flex: 1;
}

.row figure {
    flex: 0.25;
}

@media only screen and (max-width: 1220px) {
    nav ul li {
        margin: 0px 0px;
        text-align: center;
    }

    nav a.logo {
        font-size: 30px;
    }

    .small-button {
        word-wrap: break-word;
        white-space: initial;
    }

    .button-anchor {
        width: 100%;
    }
}